<!DOCTYPE html>
<html lang="en">
<head>
    <title>Filament Tracking</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
    <link rel="icon" href="/static/images/favicon.png" type="image/x-icon"/>

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.14.0/dist/css/uikit.min.css" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/filament_tracking.css">

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.14.0/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.14.0/dist/js/uikit-icons.min.js"></script>

</head>
<body style="background-color: #A2E2F8; height: 100vh;">
    {% block header %}
    {% endblock %}
    <main class="uk-container uk-text-center uk-padding"> 
        {% block main %}
        {% endblock %}
    </main>
    {% block footer %}
    {% endblock %}
</body>
</html>