{% extends 'base.html' %}

{% block main %}
<h4>Seleccione las imágenes que desea trackear</h4>
<form method="post" action="/" enctype="multipart/form-data">
    <input onchange="form.submit()" type="file" name="files[]" accept=".tif,.tiff,.avi,.jpg,.jpeg" multiple required/>
    
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="flashes mt-2">
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
    {% endwith %}
</form>
{% endblock %}