@font-face {
 font-family:"montserrat-medium";
 src:url(/static/fonts/montserrat-medium-webfont.woff2) format("woff2") ,
 url(/static/fonts/montserrat-medium-webfont.woff) format("woff");
 font-style:normal;
 font-weight:normal
}

.canvas {
  width: 50%;

  /* Keep the image pixelated: https://css-tricks.com/keep-pixelated-images-pixelated-as-they-scale/*/
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

#points-selector-canvas {
  cursor: crosshair;
}

#undo, #redo {
  margin-top: 1%;
  max-height: 32px;
  cursor: pointer;
  visibility: hidden;
}

#error {
  color: red;
}