@font-face {
 font-family:"montserrat-medium";
 src:url(/static/fonts/montserrat-medium-webfont.woff2) format("woff2") ,
 url(/static/fonts/montserrat-medium-webfont.woff) format("woff");
 font-style:normal;
 font-weight:normal
}

.photo {
  height: 74vh;
}

#canvas {
  cursor:crosshair;
  background-size: contain !important; 
  background-repeat: no-repeat !important;
  height: 74vh;
}

#stats {
  display: none;
}

.flashes {
  color: red;
}

#undo, #redo {
  margin-top: 1%;
  max-height: 32px;
  cursor: pointer;
  visibility: hidden;
}