<!DOCTYPE html>
<html lang="en">

<head>
  <title>Filament Tracking</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
  <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon" />

  <!-- UIkit -->
  <script src="/static/js/libs/uikit/uikit.min.js" defer></script>
  <script src="/static/js/libs/uikit/uikit-icons.min.js" defer></script>
  <link rel="stylesheet" href="/static/css/libs/uikit.min.css" />


  <!-- Custom CSS -->
  <link rel="stylesheet" href="/static/css/index.css">
  <script src="/static/js/styling/tooltip.js" async></script>

  <!-- Custom JS -->
  <script src="/static/js/index.js" type="module"></script>

</head>

<body class="uk-background-cover">
  <main>
    <form id="tracking-form" enctype="multipart/form-data" class="uk-form-horizontal">
      <div id="selection" class="uk-flex uk-flex-wrap">
        <div id="selector-zone" class="uk-width-2-3">
          <div class="uk-flex uk-flex-center uk-margin">
            <div id="selector-wrapper"></div>
          </div>
          <div class="uk-flex uk-flex-first uk-flex-center uk-margin" id="img-buttons">
            <a href="/manual" class="uk-button uk-button-default uk-margin-right uk-margin-left">Manual de uso</a>
            <div uk-form-custom class="uk-margin-right uk-margin-left">
              <input id="img-input" type="file" name="images[]" accept="{{ allowed_image_types | join(',') }}" multiple required />
              <button class="uk-button uk-button-default uk-width-1-1" type="button" tabindex="-1">Seleccione las imágenes que desea trackear</button>
            </div>
            <div id="track-button" class="uk-margin-right uk-margin-left" hidden>
              <button class="uk-button uk-button-default" id="tracking-submit">Track</button>
            </div>
          </div>
          <p id="errors" class="uk-text-center"></p>
        </div>
        <div id="preview-zone" class="uk-width-1-3">
          <div class="uk-margin">
            <fieldset>
              <legend class="uk-legend uk-margin-small uk-text-center">Parámetros de tracking</legend>
              {% for field in config_fields %}
              <div class="uk-margin uk-flex uk-flex-between uk-flex-middle">
                <div>
                  <label for="config-{{ field.name }}" class="uk-form-label uk-text-break">
                    {{ field.metadata['name'] }}
                  </label>
                  <div class="con-tooltip top" onclick="displayTooltip('id-{{ field.name }}')">
                    <span uk-icon="info"></span>
                    <div class="tooltip" id="id-{{ field.name }}" hidden>
                      <p>{{ field.metadata['desc'] }}</p>
                    </div>
                  </div>
                </div>
                {% if field.type.__name__ == 'bool' %}
                <input id="config-{{ field.name }}" name="{{ field.name }}" type="checkbox"
                  class="uk-checkbox uk-margin-remove-top" {% if field.default %} checked {% endif %} />
                {% elif field.type.__name__ == 'int' %}
                <input id="config-{{ field.name }}" name="{{ field.name }}" type="number" value="{{ field.default }}"
                  step="1" min="{{ field.metadata['min'] }}" max="{{ field.metadata['max'] }}" required />
                {% elif field.type.__name__ == 'float' %}
                <input id="config-{{ field.name }}" name="{{ field.name }}" type="number" value="{{ field.default }}"
                  step="{{ field.metadata['step'] }}" min="{{ field.metadata['min'] }}"
                  max="{{ field.metadata['max'] }}" required />
                {% endif %}
              </div>
              {% endfor %}
            </fieldset>
          </div>
          <div class="uk-flex uk-flex-center" id="preview-section">
            <div id="preview-loader" class="uk-margin-auto uk-text-center" hidden>
              <span class="circle circle-1"></span>
              <span class="circle circle-2"></span>
              <span class="circle circle-3"></span>
              <span class="circle circle-4"></span>
            </div>
            <canvas id="preview" class="canvas uk-text-center"></canvas>
          </div>
        </div>
      </div>
    </form>

    <div id="results" class="uk-text-center" hidden>
      <h1>Resultados</h1>
      <div id="results-loader">
        <span class="circle circle-1"></span>
        <span class="circle circle-2"></span>
        <span class="circle circle-3"></span>
        <span class="circle circle-4"></span>
        <span class="circle circle-5"></span>
        <span class="circle circle-6"></span>
        <span class="circle circle-7"></span>
        <span class="circle circle-8"></span>
      </div>
      <div id="results-container" hidden>
        <div class="uk-flex-between">
          <form id="rv-rendering-properties">
            <label>Puntos codificados con colores<input name="color-coding" type="checkbox" checked /></label>
            <label>Perfiles de intensidad<input name="normal-lines" type="checkbox" /></label>
          </form>
        </div>
        <div class="uk-flex">
          <div id="results-viewer" class="uk-width-1-2 uk-margin-auto"></div>
        </div>
        <div class="uk-flex-between uk-text-center">
          <h1>Exportar Resultados</h1>
          <p>Descargar los resultados de las posiciones en formato <a id="download-json"
              download="tracking_results.json">JSON</a> o <a id="download-tsv" download="tracking_results.tsv">TSV</a>
          </p>
          <p>Descargar las imagenes en <a id="download-zip">Zip</a></p>
        </div>
      </div>
    </div>
  </main>
  <hr class="divider">
  <footer class="uk-text-center">
    <span>Pipo - ITBA - 2022</span>
  </footer>
</body>
</html>

<template id="result-controls">
  <div class="uk-flex uk-flex-between uk-margin-top uk-margin-bottom">
    <div class="uk-flex">
      <button id="rc-play" class="button primary pill horizontal-pill full-pill">
        <span uk-icon="icon: play"></span>
        <span>PLAY</span>
      </button>
      <button id="rc-pause" class="button primary pill horizontal-pill full-pill" hidden>
        <span uk-icon="icon: pause"></span>
        <span>PAUSE</span>
      </button>
      <button id="rc-stop" class="button primary pill horizontal-pill full-pill uk-margin-small-left">
        <span uk-icon="icon: stop"></span>
        <span>STOP</span>
      </button>
    </div>
    <div class="uk-flex">
      <span class="primary pill horizontal-pill left-pill" id="rc-prev_frame" uk-icon="icon: arrow-left"></span>
      <span class="primary pill horizontal-pill" id="rc-frame"></span>
      <span class="primary pill horizontal-pill right-pill" id="rc-next_frame" uk-icon="icon: arrow-right"></span>
    </div>
    <div id="rc-frame_rate" class="uk-flex">
      <span class="primary pill horizontal-pill left-pill" id="rc-frame_rate_down" uk-icon="icon: minus"></span>
      <span class="primary pill horizontal-pill" id="rc-frame_rate_value"></span>
      <span class="primary pill horizontal-pill right-pill" id="rc-frame_rate_up" uk-icon="icon: plus"></span>
    </div>
  </div>
</template>

<template id="point-selector">
  <div class="uk-flex uk-margin-left">
    <canvas id="ps-canvas"></canvas>
    <div id="ps-controls"
      class="uk-flex-none uk-flex uk-flex-column uk-flex-around uk-margin-top uk-margin-bottom uk-padding-small" hidden>
      <div class="uk-flex uk-flex-column">
        <span class="primary pill button vertical-pill top-pill" id="ps-zoom-in" uk-icon="icon: plus"></span>
        <span class="primary pill vertical-pill" id="ps-zoom-value"></span>
        <span class="primary pill button vertical-pill bottom-pill" id="ps-zoom-out" uk-icon="icon: minus"></span>
      </div>
      <div class="uk-flex uk-flex-column">
        <span id="ps-undo" class="icon button primary pill vertical-pill top-pill" uk-icon="icon: history"></span>
        <span id="ps-redo" class="icon button primary pill vertical-pill bottom-pill" uk-icon="icon: future"></span>
      </div>
      <div class="uk-flex uk-flex-column">
        <span id="ps-draw" class="icon button primary pill vertical-pill top-pill" uk-icon="icon: pencil"></span>
        <span id="ps-move" class="icon button primary pill vertical-pill bottom-pill" uk-icon="icon: move"></span>
      </div>
    </div>
  </div>
</template>