<!DOCTYPE html>
<html lang="en">
<head>
  <title>Filament Tracking</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
  <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon"/>

  <!-- UIkit -->
  <script src="/static/js/libs/uikit/uikit.min.js" defer></script>
  <script src="/static/js/libs/uikit/uikit-icons.min.js" defer></script>
  <link rel="stylesheet" href="/static/css/libs/uikit.min.css"/>

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/static/css/index.css">

  <!-- Libraries -->
  <script src="/static/js/libs/UTIF.js" type="module"></script>
  <script src="/static/js/libs/whammy.js" type="module"></script>

  <!-- Utils -->
  <script src="/static/js/utils/misc.js" type="module"></script>
  <script src="/static/js/utils/canvas.js" type="module"></script>

  <!-- Controllers -->
  <script src="/static/js/controllers/results.js" type="module"></script>
  <script src="/static/js/controllers/selector.js" type="module"></script>

  <!-- Custom JS -->
  <script src="/static/js/index.js" type="module"></script>

</head>
<body class="uk-background-cover">
  <main class="uk-text-center">
    <form id="tracking-form" enctype="multipart/form-data" class="uk-form-horizontal uk-margin-large">
      <div id="selection" class="uk-flex uk-flex-between uk-flex-wrap">
        <div id="preview-zone">
          <div>
            <fieldset>
              <legend class="uk-legend uk-margin-small">Parámetros de tracking</legend>
              {% for field in config_fields %}
                <div class="uk-margin">
                <label for="config-{{ field.name }}" class="uk-form-label uk-text-break">{{ field.metadata['name'] }} <span uk-icon="info" title="{{ field.metadata['desc'] }}"></span></label>
                  <div style="display: flex; justify-content: flex-end">
                    {% if field.type.__name__ == 'bool' %}
                      <input id="config-{{ field.name }}" name="{{ field.name }}" type="checkbox" class="uk-checkbox" {% if field.default %} checked {% endif %} required />
                    {% elif field.type.__name__ == 'int' %}
                      <input id="config-{{ field.name }}" name="{{ field.name }}" type="number" value="{{ field.default }}" step="1" min="{{ field.metadata['min'] }}" max="{{ field.metadata['max'] }}" required />
                    {% elif field.type.__name__ == 'float' %}
                      <input id="config-{{ field.name }}" name="{{ field.name }}" type="number" value="{{ field.default }}" step="{{ field.metadata['step'] }}" min="{{ field.metadata['min'] }}" max="{{ field.metadata['max'] }}" required />
                    {% endif %}
                  </div>
                </div>
              {% endfor %}
            </fieldset>
          </div>
          <div class="uk-flex uk-flex-center uk-flex-column uk-text-center uk-margin" id="preview-section">
            <canvas id="preview" class="loader canvas uk-text-center" hidden></canvas>
          </div>
        </div>
        <div id="selector-zone" class="uk-text-center">
          <div id="selector-wrapper" class="uk-margin-right"></div>
          <div class="uk-flex uk-flex-center uk-margin" id="img-buttons">
              <div uk-form-custom class="uk-margin-right uk-margin-left">
                <input id="img-input" type="file" name="images[]" accept="{{ allowed_image_types | join(',') }}" multiple required />
                <button class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom" type="button" tabindex="-1">Seleccione las imágenes que desea trackear</button>
              </div>
              <div id="track-button" class="uk-margin-right uk-margin-left" hidden>
                <button class="uk-button uk-button-primary" id="tracking-submit">Track</button>
              </div>
          </div>
          <p id="errors" ></p>
        </div>
      </div>
    </form>

    <div id="results" hidden>
      <h1>
        Resultados
      </h1>
      <div id="results-loader" class="uk-margin-auto loader"></div>
      <div id="results-container" class="uk-flex" hidden>
        <div id="results-viewer" class="uk-width-1-2 uk-margin-auto loader"></div>
        <div class="uk-width-1-2">
          <p>Descarga los resultados de las posiciones en formato <a id="download-json" download="tracking_results.json">JSON</a> o <a id="download-tsv" download="tracking_results.tsv">TSV</a></p>
          <p>Descarga el video en formato <a id="download-webm">WebM</a></p>
          <form id="rv-rendering-properties">
            <label>Puntos codificados con colores<input name="color-coding" type="checkbox" /></label>
            <label>Perfiles de intensidad<input name="normal-lines" type="checkbox" /></label>
          </form>
        </div>
      </div>
    </div>
  </main>
</body>
</html>

<template id="result-controls">
  <div class="uk-flex uk-flex-between uk-margin-top uk-margin-bottom">
    <div class="uk-flex">
      <button id="rc-play" class="button primary pill horizontal-pill full-pill">
        <span uk-icon="icon: play"></span>
        <span>PLAY</span>
      </button>
      <button id="rc-pause" class="button primary pill horizontal-pill full-pill" hidden>
        <span uk-icon="icon: pause"></span>
        <span>PAUSE</span>
      </button>
      <button id="rc-stop" class="button primary pill horizontal-pill full-pill uk-margin-small-left">
        <span uk-icon="icon: stop"></span>
        <span>STOP</span>
      </button>
    </div>
    <div class="uk-flex">
      <span class="primary pill horizontal-pill left-pill" id="rc-prev_frame" uk-icon="icon: arrow-left"></span>
      <span class="primary pill horizontal-pill" id="rc-frame"></span>
      <span class="primary pill horizontal-pill right-pill" id="rc-next_frame" uk-icon="icon: arrow-right"></span>
    </div>
    <div id="rc-frame_rate" class="uk-flex">
      <span class="primary pill horizontal-pill left-pill" id="rc-frame_rate_down" uk-icon="icon: minus"></span>
      <span class="primary pill horizontal-pill" id="rc-frame_rate_value"></span>
      <span class="primary pill horizontal-pill right-pill" id="rc-frame_rate_up" uk-icon="icon: plus"></span>
    </div>
  </div>
</template>

<template id="point-selector">
  <div class="uk-flex uk-margin-left">
    <canvas id="ps-canvas"></canvas>
    <div id="ps-controls" class="uk-flex-none uk-flex uk-flex-column uk-flex-around uk-margin-top uk-margin-bottom uk-padding-small" hidden>
      <div class="uk-flex uk-flex-column">
        <span class="primary pill button vertical-pill top-pill" id="ps-zoom-in" uk-icon="icon: plus"></span>
        <span class="primary pill vertical-pill" id="ps-zoom-value"></span>
        <span class="primary pill button vertical-pill bottom-pill" id="ps-zoom-out" uk-icon="icon: minus"></span>
      </div>
      <div class="uk-flex uk-flex-column">
        <span id="ps-undo" class="disabled icon button primary pill vertical-pill top-pill" uk-icon="icon: history"></span>
        <span id="ps-redo" class="disabled icon button primary pill vertical-pill bottom-pill" uk-icon="icon: future"></span>
      </div>
      <div class="uk-flex uk-flex-column">
        <span id="ps-draw" class="icon button primary pill vertical-pill top-pill" uk-icon="icon: pencil"></span>
        <span id="ps-move" class="icon button primary pill vertical-pill bottom-pill" uk-icon="icon: move"></span>
      </div>
    </div>
  </div>
</template>
