<!DOCTYPE html>
<html lang="en">
<head>
  <title>Filament Tracking</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
  <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon"/>

  <!-- UIkit -->
  <script src="/static/js/libs/uikit/uikit.min.js" defer></script>
  <script src="/static/js/libs/uikit/uikit-icons.min.js" defer></script>
  <link rel="stylesheet" href="/static/css/libs/uikit.min.css"/>

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/static/css/filament_tracking.css">

  <!-- Libraries -->
  <script src="/static/js/libs/UTIF.js" defer></script>
  <script src="/static/js/libs/whammy.js" defer></script>

  <!-- Custom JS -->
  <script src="/static/js/utils.js" defer></script>
  <script src="/static/js/canvas_utils.js" defer></script>
  <script src="/static/js/results.js" defer></script>
  <script src="/static/js/filament_tracking.js" defer></script>

</head>
<body class="uk-background-cover">
  <main class="uk-text-center uk-padding">
    <form id="tracking-form" enctype="multipart/form-data" class="uk-form-horizontal uk-margin-large">
      <div id="selection" class="uk-flex uk-flex-wrap">
        <div id="preview-zone" class="uk-width-2-5">
          <div class="uk-flex uk-flex-center uk-flex-column uk-text-center uk-margin" id="preview-section" hidden>
            <div>
              <h1>Preview</h1>
              <canvas id="preview" class="loader canvas uk-text-center"></canvas>
            </div>
          </div>
          <div>
            <fieldset class="uk-fieldset">
              <legend class="uk-legend uk-margin-small">Parametros extra del algoritmo de trackeo</legend>
              {% for field in config_fields %}
              <div class="uk-margin">
                <label for="config-{{ field.name }}" class="uk-form-label uk-text-break">{{ field.metadata['display'] }} <span uk-icon="info" class="tooltip"><span class="tooltip-text">{{ field.metadata['description'] }}</span></span></label>
                <div style="display: flex; justify-content: flex-end">
                  <input id="config-{{ field.name }}" name="{{ field.name }}" class="uk-{{ type2input[field.type] }}" type="{{ type2input[field.type] }}" value="{{ field.default }}" />
                </div>
              </div>
              {% endfor %}
            </fieldset>
          </div>
        </div>
        <div id="selector-zone" class="uk-width-3-5 uk-text-center">
          <div class="uk-flex">
            <div class="uk-margin uk-width-1-1">
              <div uk-form-custom>
                <input id="img-input" type="file" name="images[]" accept="{{ allowed_image_types | join(',') }}" multiple required />
                <button class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom" type="button" tabindex="-1">Seleccione las imágenes que desea trackear</button>
              </div>
            </div>
          </div>
          <div class="uk-flex">
            <div class="uk-margin uk-width-1-1">
              <div id="selector-wrapper" class="uk-margin-right" hidden>
                <canvas id="points-selector-canvas" class="canvas"></canvas>
                <div id="buttonWrapper">
                  <input type="button" id="plus" value="+"><input type="button" id="minus" value="-">
                </div>
              </div>
            </div>
          </div>
          <div class="uk-flex uk-flex-center" id="action-buttons" hidden>
            <div>
              <button id="undo" type="button" class="uk-button uk-button-primary"><span title="Undo" uk-icon="icon: history"></span></button>
            </div>
            <div>
              <button id="redo" type="button" class="uk-button uk-button-primary"><span title="Redo" uk-icon="icon: future"></span></button>
            </div>
          </div>
          <div class="uk-flex uk-flex-center" id="point-buttons" hidden>
            <div class="uk-width-3-5">
              <p class="uk-margin-top uk-text-lead">Adjust point diameter</p>
            </div>
            <div class="uk-width-2-5 uk-margin-top">
              <button class="uk-button uk-button-primary" type="button" id="arrow-up"><span title="Increase diameter" uk-icon="icon: arrow-up"></span></button>
              <button class="uk-button uk-button-primary" type="button" id="arrow-down"><span title="Decrease diameter" uk-icon="icon: arrow-down"></span></button>
            </div>
          </div>
          <div class="uk-flex uk-flex-center uk-margin" id="img-buttons" hidden>
            <div>
              <button class="uk-button uk-button-primary" id="tracking-submit">Track</button>
            </div>
            <div>
              <a href="/"><button class="uk-button uk-button-secondary" type="submit">Reset</button></a>
            </div>
          </div>
          <p id="errors" ></p>
        </div>
      </div>
    </form>
    <div id="results" hidden>
      <h1>
        Resultados
      </h1>
      <div id="results-loader" class="uk-margin-auto loader"></div>
      <div id="results-container" class="uk-flex" hidden>
        <div id="results-viewer" class="uk-width-1-2 uk-margin-auto loader"></div>
        <div class="uk-width-1-2">
          <p>Descarga los resultados de las posiciones en formato <a id="download-json" download="tracking_results.json">JSON</a> o <a id="download-tsv" download="tracking_results.tsv">TSV</a></p>
          <p>Descarga el video en formato <a id="download-webm">WebM</a></p>
          <form id="rv-rendering-properties">
            <label>Puntos codificados con colores<input name="color-coding" type="checkbox" /></label>
            <label>Perfiles de intensidad<input name="normal-lines" type="checkbox" /></label>
          </form>
        </div>
      </div>
    </div>
  </main>
</body>
</html>

<template id="result-controls">
  <div class="uk-flex uk-flex-between uk-margin-top uk-margin-bottom">
    <div class="uk-flex">
      <button id="rc-play" class="primary pill full-pill">
        <span uk-icon="icon: play"></span>
        <span>PLAY</span>
      </button>
      <button id="rc-pause" class="primary pill full-pill" hidden>
        <span uk-icon="icon: pause"></span>
        <span>PAUSE</span>
      </button>
      <button id="rc-stop" class="primary pill full-pill uk-margin-small-left">
        <span uk-icon="icon: stop"></span>
        <span>STOP</span>
      </button>
    </div>
    <div class="uk-flex">
      <span class="primary pill left-pill" id="rc-prev_frame" uk-icon="icon: arrow-left"></span>
      <span class="primary pill" id="rc-frame"></span>
      <span class="primary pill right-pill" id="rc-next_frame" uk-icon="icon: arrow-right"></span>
    </div>
    <div id="rc-frame_rate" class="uk-flex">
      <span class="primary pill left-pill" id="rc-frame_rate_down" uk-icon="icon: minus"></span>
      <span class="primary pill" id="rc-frame_rate_value"></span>
      <span class="primary pill right-pill" id="rc-frame_rate_up" uk-icon="icon: plus"></span>
    </div>
    </div>
  </div>
</template>
