<!DOCTYPE html>
<html lang="en">
<head>
  <title>Manual</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
  <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon"/>

  <!-- UIkit -->
  <script src="/static/js/libs/uikit/uikit.min.js" defer></script>
  <script src="/static/js/libs/uikit/uikit-icons.min.js" defer></script>
  <link rel="stylesheet" href="/static/css/libs/uikit.min.css"/>

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/static/css/index.css">

  <style>
    img {
      max-height: 70vh;
    }
  </style>
</head>
<body class="uk-background-cover">
  <a href="/" class="uk-button uk-button-default">Volver a Tracking</a>
  <a href="/static/images/manual/sample_image_sequence.zip" class="uk-button uk-button-default" download>Imágenes de prueba</a>

  <main class="uk-container uk-container-small" style="background-color: rgba(140,140,140,0.2)">
    <div id='content'>
      <h1 id="manual-de-uso"><a class="anchor" href="#manual-de-uso"></a>Manual de Uso</h1>

      <h2 id="objetivo"><a class="anchor" href="#objetivo"></a>Objetivo</h2>
      <p>El objetivo de la aplicación es recuperar las posiciones de un segmento de filamento seleccionado a lo largo de una secuencia de frames.</p>

      <h2 id="pasos-a-seguir"><a class="anchor" href="#pasos-a-seguir"></a>Pasos a seguir</h2>

      <h3 id="1-inicio"><a class="anchor" href="#1-inicio"></a>1. Inicio</h3>
      <p><img src="/static/images/manual/inicio1.png" alt="Inicio de la aplicación" /></p>
      <p>Esta es la pantalla inicial de la aplicación.</p>
      <ul>
        <li><code>MANUAL DE USO</code>: redirige a este manual.</li>
        <li><code>SELECCIONE LAS IMÁGENES QUE DESEA TRACKEAR</code>: permite subir la secuencias de imágenes que se desea trackear.</li>
        <li><code>Parámetros de tracking</code>: Formulario de selección de los parámetros de tracking. Los mismos se detallan más adelante.</li>
      </ul>

      <h3 id="2-selección-de-secuencia-de-imágenes-a-trackear"><a class="anchor" href="#2-selección-de-secuencia-de-imágenes-a-trackear"></a>2. Selección de secuencia de imágenes a trackear</h3>
      <p><img src="/static/images/manual/seleccion_imagenes1.png" alt="Selección de imágenes" /></p>
      <ol>
        <li>Hacer click en <code>SELECCIONE LAS IMÁGENES QUE DESEA TRACKEAR</code>.</li>
        <li>Se abre una ventana similar a la de la imagen. Se muestran las imágenes que es posible subir a la aplicación. Se soportan los formatos <code>TIF</code>, <code>JPG</code> y <code>PNG</code>.</li>
        <li>Seleccionar todos los frames de la secuencia. Se puede hacer manteniendo presionado <code>Ctrl</code> y haciendo click en todos los frames. Para seleccionar un rango, seleccionar el primer frame, y luego presionar <code>Shift</code> hacer click en el último frame.</li>
        <li>Confirmar haciendo click en <code>Open</code>, o un botón similar.</li>
      </ol>

      <h4 id="consideraciones-extra"><a class="anchor" href="#consideraciones-extra"></a>Consideraciones extra</h4>

      <h5 id="orden"><a class="anchor" href="#orden"></a>Orden</h5>
      <p>El orden en el que vemos las imágenes en la ventana de selección es el orden en el que los frames aparecerán en la secuencia. Se recomienda nombrar a todos las imágenes de la secuencia con el mismo nombre, y solo diferenciarlas por un número final que represente su posición en la secuencia. Luego, ordenar los archivos por nombre de forma descendente, en general haciendo click en el encabezado <code>Name</code>.</p>

      <h5 id="tamaño-máximo"><a class="anchor" href="#tamaño-máximo"></a>Tamaño máximo</h5>
      <p>El tamaño máximo total de la secuencia de imágenes que la aplicación permite subir para el análisis es <code>250 MB</code>. En caso de superarlo, se recomienda previamente utilizar métodos de compresión. En caso de no poder evitar superar este límite, un administrador de la aplicación es capaz de aumentarlo, ya sea temporal o permanentemente.</p>

      <h3 id="3-selección-de-filamento-y-sus-puntos-de-control"><a class="anchor" href="#3-selección-de-filamento-y-sus-puntos-de-control"></a>3. Selección de filamento y sus puntos de control</h3>
      <p><img src="/static/images/manual/seleccion_puntos1.png" alt="Selección de filamento y puntos 1" /></p>
      <p><img src="/static/images/manual/seleccion_puntos2.png" alt="Selección de filamento y puntos 2" /></p>
      <p>Una vez seleccionadas las imágenes de la secuencia, aparecerá en el centro de la pantalla la primera imagen de la secuencia. El siguiente paso es seleccionar puntos de control sobre el filamento que describan su forma, como podemos ver en la siguiente imagen. Las líneas que conectan estos puntos deben estar idealmente siempre dentro del filamento. Además, los parámetros de tracking deseados deben ser seleccionados.</p>

      <h4 id="controles-de-selección-de-puntos"><a class="anchor" href="#controles-de-selección-de-puntos"></a>Controles de selección de puntos</h4>
      <p>El selector de puntos posee 3 elementos de control a su derecha. En orden de arriba hacia abajo:</p>
      <ul>
        <li><code>Zoom</code>: Los símbolos <code>+</code> y <code>-</code> permiten acercar y alejar la imagen, respectivamente.</li>
        <li><code>Undo/Redo</code>: Permiten eliminar o volver a colocar el último punto seleccionado.</li>
        <li><code>Modo</code>: Por defecto ons encontramos en el modo "lápiz", que nos permite colocar puntos al hacer click. El modo "cruz", en cambio, nos permite arrastrar la imagen con el mouse, en caso de que esté acercada.</li>
      </ul>
      <p><img src="/static/images/manual/zoom1.png" alt="Zoom" /></p>

      <h4 id="preview-del-primer-frame"><a class="anchor" href="#preview-del-primer-frame"></a>Preview del primer frame</h4>
      <p><img src="/static/images/manual/preview1.png" alt="Preview" /></p>
      <p>Debajo del formulario de selección de parámetros, se puede encontrar el resultado de trackear el primer frame. El mismo se refresca cada vez que se modifique la selección de puntos, o los parámetros del algoritmo. El mismo permite rápidamente estimar el resultado de tracking que obtendremos con la configuración seleccionada.</p>

      <h3 id="4-ejecución-de-tracking"><a class="anchor" href="#4-ejecución-de-tracking"></a>4. Ejecución de tracking</h3>
      <p><img src="/static/images/manual/track1.png" alt="Tracking" /></p>
      <p>Una vez que se esté seguro de la selección de puntos y de parámetros, con el botón <code>TRACK</code> se podrá iniciar el tracking.</p>

      <h3 id="5-visualización-y-exportación-de-resultados"><a class="anchor" href="#5-visualización-y-exportación-de-resultados"></a>5. Visualización y Exportación de Resultados</h3>
      <p><img src="/static/images/manual/resultados1.png" alt="Resultados" /></p>
      <p>Una vez que el tracking haya resultado exitoso podremos visualizar las imágenes resultantes de manera animada o cuadro a cuadro, y descargarlas. Además, se podrá descargar las coordenadas de los puntos en formato <code>Json</code> o <code>TSV</code>, ambos amigables tanto para sistemas informáticos (ej. planillas de cálculo) como para humanos.</p>

      <h4 id="visualizador-de-resultados"><a class="anchor" href="#visualizador-de-resultados"></a>Visualizador de resultados</h4>
      <ul>
        <li><code>PLAY/PAUSE</code>: Iniciar o pausar el pasaje de imágenes automático.</li>
        <li><code>STOP</code>: Pausar el pasaje de imágenes automático, y volver al primer cuadro.</li>
        <li><code>Pasaje manual</code>: Abajo al centro se puede ver el cuadro actual de la secuencia, y pasarla mediante las flechas de los costados.</li>
        <li><code>Velocidad</code>: Se puede aumentar o disminuir la velocidad de la reproducción automática de las imágenes.</li>
      </ul>

      <h4 id="interpretación-de-resultados"><a class="anchor" href="#interpretación-de-resultados"></a>Interpretación de resultados</h4>
      <p>Los puntos graficados sobre la imagen pueden ser de 3 colores distintos, los cuales transmiten información adicional sobre la confianza que se le tiene a dicho punto.</p>
      <ul>
        <li><code>Verde</code>: Color estándar. Es decir que dicha coordenada fue recuperada siguiendo el método estándar definido de ajustar mediante una función gaussiana, por lo que se le tiene una alta confianza.</li>
        <li><code>Azul</code>: El error del ajuste gaussiano utilizado del punto superó el límite configurado. Entonces, el mismo es calculado empleando la rutina de reposición de puntos globales, interpolando linealmente. Estos puntos poseen una menor confianza. Este color suele aparecer en zonas donde existe un alto ruido, o donde hay una intersección entre filamentos, lo cual distorsiona la información.</li>
        <li><code>Rojo</code>: Este color solo puede aparecer en los extremos del filamento. Son puntos que serían azules, pero que están ubicados al extremo del filamento, por lo que no se puede realizar la interpolación lineal. En cambio, se mantiene la posición calculada en el cuadro anterior. Este método es el menos confiable. En general hay que buscar evitar este tipo de puntos cambiando el segmento seleccionado, o los parámetros del algoritmo.</li>
      </ul>

      <h4 id="parámetros-de-visualización"><a class="anchor" href="#parámetros-de-visualización"></a>Parámetros de visualización</h4>
      <p>Por encima del visualizador de resultados se encuentran 2 checkbox para modificar la información que se grafica en los resultados.</p>
      <ul>
        <li><code>Puntos codificados con colores</code>: Activa la codificación de colores. Si no, todos los puntos son verdes.</li>
        <li><code>Perfiles de intensidad</code>: Grafica como barras celestes los perfiles de intensidad utilizados para cada punto durante el algoritmo. Útil para entender por qué el algoritmo puede estar fallando.</li>
      </ul>

      <h4 id="exportación-de-resultados"><a class="anchor" href="#exportación-de-resultados"></a>Exportación de resultados</h4>

      <h5 id="imágenes"><a class="anchor" href="#imágenes"></a>Imágenes</h5>
      <p>Se pueden exportar las imágenes como son vistas en el visualizador de resultados haciendo click en el link <code>ZIP</code>. Las mismas se descargan en un archivo <code>.ZIP</code> en formato <code>.PNG</code>.</p>

      <h5 id="coordenadas---json"><a class="anchor" href="#coordenadas---json"></a>Coordenadas - JSON</h5>
      <p>Se pueden descargas las coordenadas recuperadas en formato <code>JSON</code> haciendo click en el link correspondiente.</p>
      <p>La estructura utilizada es una lista donde cada item contiene los puntos de cada imagen, en orden. Cada item está compuesto por un objeto de clave <code>"points"</code> y valor un array con las coordenadas de todos los puntos del filamento de esa imagen, ordenados. Las coordenadas están modeladas como un objeto con las propiedades <code>"x"</code> e <code>"y"</code>, cuyo valor es un número decimal que representa el sub-píxel donde el punto está ubicado dentro de la imagen. Un ejemplo de 2 imágenes y 2 puntos es:</p>
      <pre><code class="json language-json">
      [
        { "points": [
          { "x": 1.5, "y": 2.5 },
          { "x": 5.0, "y": 3.0 }
        ] },
        { "points": [
          { "x": 5.5, "y": 0.5 },
          { "x": 8.0, "y": 0.1 }
        ] }
      ]
      </code></pre>

      <h5 id="coordenadas---tsv"><a class="anchor" href="#coordenadas---tsv"></a>Coordenadas - TSV</h5>
      <p>Se pueden descargas las coordenadas recuperadas en formato <code>TSV</code> haciendo click en el link correspondiente.</p>
      <p>El formato del archivo <code>TSV</code> se compone de únicamente 3 headers: <code>frame</code>, <code>x</code>, <code>y</code>. El primero indica el número de imagen, el segundo es la coordenada <code>x</code> de posición sub-pixel de un punto dentro del filamento en la imagen correspondiente, y el tercero es equivalente para la coordenada <code>y</code>. Un ejemplo de 2 imágenes y 2 puntos es:</p>
      <pre><code class="tsv language-tsv">
      frame   x   y
      0   1.5 2.5
      0   5.0 3.0
      1   5.5 0.5
      1   8.0 0.1
      </code></pre>

      <h2 id="parámetros-de-tracking"><a class="anchor" href="#parámetros-de-tracking"></a>Parámetros de tracking</h2>
      <p><img src="/static/images/manual/parametros1.png" alt="Parámetros" /></p>
      <ul>
        <li><code>Tolerancia de error</code>: Número decimal que indica el máximo error tolerado durante el ajuste gaussiano para obtener las coordenadas de un punto a partir de su perfil de intensidad asociado. En caso de que se supere, el punto pasara a considerarse "azul", y será calculado a partir de la rutina de reposición de puntos. El error es calculado como la desviación estándar de la media de la gaussiana. Si en los resultados vemos puntos azules en lugares donde no parecería haber problemas, una solución puede ser aumentar este parámetro. Si vemos que aún en zonas problemáticas donde el tracking falló los puntos están verdes, puede ser que este parámetro está muy alto y permisivo.</li>
        <li><code>Ancho de perfil de intensidad</code>: Número entero que representa el largo en píxeles del perfil de intensidad que se toma por cada punto. Estos perfiles de intensidad se pueden visualizar en la sección de resultados como barras celestes. Es muy importante que el ancho de intensidad sea más largo que el ancho del filamento y que incluya un poco de fondo, así se puede formar correctamente la gaussiana.</li>
        <li><code>Densidad de puntos</code>: Número entero que representa cada cuantos píxeles se toma un punto para analizar. Es decir, sería nuestro periodo de muestreo del filamento. Por defecto es 1, por lo que tomamos tantos puntos como píxeles haya. Esto mejora la precisión del análisis, pero aumenta los tiempos de procesado. En casos de muy alta resolución donde los tiempos de análisis sean demasiado altos, es posible que convenga sacrificar precisión por velocidad.</li>
        <li><code>Cantidad de puntos para interpolar</code>: Número entero que representa la cantidad de puntos máximos que tomamos a ambos lados de un punto que necesita ser repuesto (es decir, un punto "azul") para calcular la interpolación lineal que necesita la rutina de reposición. El valor por defecto parece funcionar bien en la gran mayoría de casos, pero puede haber casos donde tomar más puntos mejore los resultados de la rutina.</li>
        <li><code>Puntos para calcular la tangente</code>: Para calcular la dirección normal de un punto del filamento por la cual se deberá tomar su perfil de intensidad, primero se debe calcular la dirección tangente (pendiente del filamento) en ese punto. Para calcularla se toma la recta que une los puntos que están a la distancia (en puntos) que este parámetro indica, dividido 2. El valor por defecto de 15 funciona bien para la gran mayoría de los casos, aunque es posible que en filamentos de alta densidad de puntos este parámetro deba ser aumentado.</li>
        <li><code>Longitud del segmento de suavizado</code>: Para la rutina de suavizado final del algoritmo, se ajustan todos los puntos del filamento obtenidos previamente a curvas de Bézier. Este parámetro indica la cantidad de puntos que serán ajustados a la misma curva. Estos ajustes se hacen de manera independiente, y luego son unidos nuevamente por los extremos. Idealmente, queremos ajustar todos los puntos a una misma curva de bezier, es decir que querríamos que este parámetro sea superior a la cantidad de puntos que estamos trackeando. Sin embargo, si encontramos que el filamento que estamos trackeando es demasiado largo, o vemos que no permitimos que el tracking se pueda curvar lo suficiente como para recuperar con precisión el filamento de la imagen, este parámetro puede ser disminuido. La cantidad de segmentos de Bézier es la cantidad de puntos totales dividido este parámetro.</li>
        <li><code>Suavizado final</code>: Se decidió que la rutina final de suavizado sea opcional. Este parámetro indica si el algoritmo debe realizar la misma, o saltearla.</li>
        <li><code>Imágenes invertidas</code>: Este parámetro debe ser activado en caso de que el filamento a trackear sea negro sobre un fondo blanco. Así, la imagen es invertida antes de ser analizada.</li>
      </ul>

      <h2 id="errores"><a class="anchor" href="#errores"></a>Errores</h2>
      <p><img src="/static/images/manual/error1.png" alt="Ejemplo de error" /></p>
      <p>Es posible que durante la ejecución de algoritmo de tracking suceda algún error. En dicho caso, se mostrará un mensaje de error debajo de la imagen de selección de puntos. Se intenta que dichos mensajes sean descriptivos. Los siguientes son excepciones:</p>
      <ul>
        <li><code>Server Connection Error: TypeError: NetworkError when attempting to fetch resource</code>: Este es un error de conexión al servidor. Lo más probable es que el servidor donde la aplicación está alojada este caído. Otra opción es que el navegador no tenga acceso a internet. Si se posee conexión y el error persiste, se recomienda contactarse con algún administrador del sistema.</li>
        <li><code>Server Error: 413 - Request Entity Too Large</code>: Se está intentando subir una secuencia de imágenes cuyo tamaño total es superior al permitido, actualmente <code>250 MB</code>.</li>
      </ul>

      <h2 id="información-adicional"><a class="anchor" href="#información-adicional"></a>Información Adicional</h2>
      <p>PipoFilTrack se desarrolló en el Instituto Tecnológico de Bs As, Argentina como parte del Proyecto Final de la carrera de Ing. Informática de T. Brandy, F. Pannunzio e I. Sagüés en 2022.</p>
      <p>Está pensado como una herramienta para ser utilizada con fines de docencia e investigación y su uso es libre.</p>
      <p>Si publica resultados basados en PipoFilTrack, esperamos que lo reconozca citando del siguiente modo: <code>Brandy, T., Pannunzio, F. & Sagüés, I. PFT, 2022, <a href="https://fernet.exp.dc.uba.ar">https://fernet.exp.dc.uba.ar</a> & <a href="https://pf-pipo.it.itba.edu.ar">https://pf-pipo.it.itba.edu.ar</a></code></p>
    </div>
      
    <a href="/" class="uk-button uk-button-default uk-width-1-1">Volver a Tracking</a>
  </main>
  <hr class="divider">
  <footer class="uk-text-center">
    <span>Pipo - ITBA - 2022</span>
  </footer>
</body>
</html>
