<!DOCTYPE html>
<html lang="en">
<head>
  <title>Manual</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
  <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon"/>

  <!-- UIkit -->
  <script src="/static/js/libs/uikit/uikit.min.js" defer></script>
  <script src="/static/js/libs/uikit/uikit-icons.min.js" defer></script>
  <link rel="stylesheet" href="/static/css/libs/uikit.min.css"/>

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/static/css/index.css">

</head>
<body class="uk-background-cover">
  <main class="uk-text-center">
    <a href="/" class="uk-button uk-button-default">Volver a Tracking</a>
    <p>Los archivos se suben en el orden que se ven al momento de seleccionarlos. Se recomienda que los archivos esten nombrados con un sufijo numerico que los permita ordenar</p>
    <a href="/" class="uk-button uk-button-default">Volver a Tracking</a>
  </main>
</body>
</html>
